.background-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-height: 89.1vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  margin-top: 100px;
}
.single-photo {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  z-index: 1;
}
