.drower-container {
  display: flex;
  color: #000;
  z-index: 10;
  background-color: #fff;
  width: 35vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
}
.drower-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
